{% extends 'main.html.twig' %}

{% block title %}
  <a class="section" href="/" rel="home">Repertory</a>
  <div class="divider"> / </div>
  <div class="section active">Collections</div>
{% endblock %}

{% block body %}
<div class="ui basic padded segment" id="table">
    <table class="ui selectable celled striped table index" width="100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Musical Form</th>
            </tr>
        </thead>
        <tbody>
        {% for collection in collections %}
            <tr class="link" onclick="document.location = '{{ path('collection_show', { 'id': collection.id }) }}';">
                <td>{{ collection.id }}</td>
                <td>{{ collection.title }}</td>
                <td>{{ collection.description }}</td>
                <td>{{ collection.musicalForm }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="ui basic padded segment" id="links">
    <a class="ui basic button" href="{{ path('collection_new') }}">
        <i class="add circle icon"></i>Add collection
    </a>
</div>
{% endblock %}