{% extends 'main.html.twig' %}

{% block title %}
  <a class="section" href="/" rel="home">Repertory</a>
  <div class="divider"> / </div>
  <a class="section" href="{{ path('tonality_index') }}">Tonalities</a>
  <div class="divider"> / </div>
  <a class="section" href="{{ path('tonality_show', { 'code': tonality.code }) }}">{{ tonality }}</a>
  <div class="divider"> / </div>
  <div class="section active">Edit</div>
{% endblock %}

{% block body %}
<div class="ui basic padded segment">
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form, { 'attr': {'class': 'ui form'} }) }}
        <input type="submit" value="Submit" class="ui basic button"/>
    {{ form_end(edit_form) }}
</div>
{% endblock %}