{% extends 'main.html.twig' %}

{% block title %}
  <a class="section" href="/" rel="home">Repertory</a>
  <div class="divider"> / </div>
  <a class="section" href="{{ path('instrument_index') }}">Instruments</a>
  <div class="divider"> / </div>
  <div class="section active" >{{ instrument.code }}</div>
{% endblock %}

{% block body %}

<div class="ui basic padded segment" id="table">
    <table class="ui celled striped collapsing definition table">
        <tbody>
            <tr>
                <td>Code</td>
                <td>{{ instrument.code }}</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>{{ instrument.name }}</td>
            </tr>
            <tr>
                <td>Playing range</td>
                <td>{{ instrument.playingRange }}</td>
            </tr>
            <tr>
                <td>Additional info</td>
                <td>{{ instrument.additionalInfo }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="ui basic padded segment" id="links">
    <a class="ui basic button" href="{{ path('instrument_edit', { 'code': instrument.code }) }}"><i class="edit icon"></i>Edit</a>
    {{ form_start(delete_form) }}
        <button class="ui basic negative button" type="submit"><i class="remove circle icon"></i>Delete</button>
    {{ form_end(delete_form) }}
</div>
{% endblock %}