{% extends 'main.html.twig' %}

{% block title %}
  <a class="section" href="/" rel="home">Repertory</a>
  <div class="divider"> / </div>
  <a class="section" href="{{ path('composer_index') }}">Composers</a>
  <div class="divider"> / </div>
  <div class="section active" >{{ composer }}</div>
{% endblock %}

{% block body %}

<div class="ui basic padded segment" id="table">
    <table class="ui celled striped collapsing definition table">
        <tbody>
            <tr>
                <td>Id</td>
                <td>{{ composer.id }}</td>
            </tr>
            <tr>
                <td>Initials</td>
                <td>{{ composer.initials }}</td>
            </tr>
            <tr>
                <td>Surname</td>
                <td>{{ composer.surname }}</td>
            </tr>
            <tr>
                <td>Last name</td>
                <td>{{ composer.lastName }}</td>
            </tr>
            <tr>
                <td>Date of birth</td>
                <td>{{ composer.birthYear}}{% if composer.birthMonth %}-{{ composer.birthMonth }}-{{ composer.birthDay }}{% endif %}</td>
            </tr>
            <tr>
                <td>Date of death</td>
                <td>{{ composer.deathYear}}{% if composer.deathMonth %}-{{ composer.deathMonth }}-{{ composer.deathDay }}{% endif %}</td>
            </tr>
            <tr>
                <td>Country</td>
                <td>{{ composer.country }}</td>
            </tr>
            <tr>
                <td>Work index name</td>
                <td>{{ composer.workIndexName }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="ui basic padded segment" id="links">
    <a class="ui basic button" href="{{ path('composer_edit', { 'id': composer.id }) }}"><i class="edit icon"></i>Edit</a>
    {{ form_start(delete_form) }}
        <button class="ui basic negative button" type="submit"><i class="remove circle icon"></i>Delete</button>
    {{ form_end(delete_form) }}
</div>
{% endblock %}